*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.5s;
}
html{
    overflow-x: hidden;
}
body{
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}
.header{
    width: 100%;
    position: relative;
    margin-top: 20px;
    height: 130px;
}
.logo{
    display: inline;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: absolute;
    height: 50px;
    left: 10%;
}
.menu{
    height: 50px;
    position: absolute;
    right: 10%;
    top: 5px;
    background-color: transparent;
    justify-content: flex-end;
    cursor: pointer;
}
li{
    list-style: none;
    color: white;
    margin-left: -20px;
}
a{
    text-decoration: none;
}
.nav h6{
    position: absolute;
    bottom: 10px;
}
.nav img{
    background-color: #37505E;
    border: 0;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
}
.contactm{
    font-size: 25px;
}
.getsocial{
    font-size: 25px;
}
.nav{
    display: none;
    transition: all 1s;
}
.nav-open .nav{
    display: unset;
    top: 0;
    right: 0;
    transition: transform 1s;
    background-color: #37505E;
    min-width: fit-content;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 100;
    width: calc(100% /3);
    opacity: 0.9;
    position: fixed;
    height: 100%;
}
.landing{
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}
.landing div{
    width: 100%;
    height: 500px;
    background-image: url("https://ivkovic.me/themes/leon/img/mountain.jpg");
    background-repeat: no-repeat;
}
.welcome{
    color: #10CAB7;
    position:  absolute;
    top: -5%;
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.intro{
    position: absolute;
    font-size: 10px;
}
.square{
    width: calc(100% / 3);
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.square h4{
    display: block;
}
.square p{
    font-size: 15px;
width: 100%;
margin: 20px;
}
.square.one::before{
    content: "\f0d0";
    font:40px FontAwesome;
    font-weight: 400;
    color: #10CAB7;
    position: absolute;
}
.square.two::before{
    content: "\f219";
    font:40px FontAwesome;
    font-weight: 400;
    color: #10CAB7;
    position: absolute;
}
.square.three::before{
    content: "\f0ac";
    font:40px FontAwesome;
    font-weight: 400;
    color: #10CAB7;
    position: absolute;
}
.square:hover{
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
}
ul li:hover{
    color: #10CAB7;
}
@media (max-width: 300px){
    ul h4 ,ul h6{
        margin-left: -20px;
        color: #7f97a9;
    }
    ul h4{
        font-size: 20px;
    }
    ul li{
        font-size: 20px;
    }
    .intro{
        top: 15%;
        }
        .square{
            width: 100%;
            position: absolute;
        }
        .square.one{
            top: 700px;
        }
        .square.two{
            top: 900px;
        }
        .square.three{
            top: 1100px;
        }
        .squares{
            width: 100%;
            height: 800px;
        }
        
        .container{
            grid-template-columns: repeat(1 , 1fr);
            grid-template-rows: repeat(5 , 2fr);
            gap: 10px;
            grid-template-areas: "one" "two" "three" "four" "mountain";
            text-align: center;
        }
        .first.servise::before{
            content: "\f040";
            font: 40px FontAwesome;
            color: #10CAB7;
        }.second.servise::before{
            content: "\f0c1";
            font: 40px FontAwesome;
            color: #10CAB7;
        }.third.servise::before{
            content: "\f1de";
            font: 40px FontAwesome;
            color: #10CAB7;
        }.fourth.servise::before{
            content: "\f109";
            font: 40px FontAwesome;
            color: #10CAB7;
        }
        .serviceop{
            text-align: center;
        }
        .serviceop h1{
            color: #666;
            opacity: 0.6;
            font-family: sans-serif;
            font-size: 50px;
        }
        .serviceop h2{
            position: absolute;
            top: 48%;
            font-size: 15px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
}
@media (min-width: 301px){
    ul h4 ,ul h6{
        margin-left: -20px;
        color: #7f97a9;
    }
    ul h4{
        font-size: 20px;
    }
    ul li{
        font-size: 20px;
    }
    .intro{
    top: 15%;
    }
    .square{
        width: 100%;
        position: absolute;
    }
    .square.one{
        top: 700px;
    }
    .square.two{
        top: 900px;
    }
    .square.three{
        top: 1100px;
    }
    .squares{
        width: 100%;
        height: 800px;
    }
    .container{
        grid-template-columns: repeat(1 , 1fr);
        grid-template-rows: repeat(5 , 2fr);
        gap: 10px;
        grid-template-areas: "one" "two" "three" "four" "mountain";
        text-align: center;
    }
    .first.servise::before{
        content: "\f040";
        font: 40px FontAwesome;
        color: #10CAB7;
    }.second.servise::before{
        content: "\f0c1";
        font: 40px FontAwesome;
        color: #10CAB7;
    }.third.servise::before{
        content: "\f1de";
        font: 40px FontAwesome;
        color: #10CAB7;
    }.fourth.servise::before{
        content: "\f109";
        font: 40px FontAwesome;
        color: #10CAB7;
    }
    .serviceop{
        text-align: center;
    }
    .serviceop h1{
        color: #666;
        opacity: 0.6;
        font-family: sans-serif;
        font-size: 50px;
    }
    .serviceop h2{
        position: absolute;
        top: 48%;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}
@media (min-width: 768px){
    ul h4 ,ul h6{
        margin-left: -20px;
        color: #7f97a9;
    }
    ul h4{
        font-size: 20px;
    }
    ul li{
        font-size: 20px;
    }
    .intro{
    top: 15%;
    }
    .square{
        position: absolute;
        top: 700px;
        width: calc(100% / 3);
    }
    .square.two{
        left: calc(100% /3);
        top: 700px;
    }
    .square.three{
        left: calc(100% / 1.5);
        top: 700px;
    }
    .squares{
        width: 100%;
        height: 300px;
    }
    .container{
        grid-template-columns: repeat(6 , 1fr);
        grid-template-rows: repeat(2 , 1fr);
        gap: 10px;
        grid-template-areas: "one one one two two two mountain mountain" " three three three four four four mountain mountain ";
    }
    .container .mountain{
        margin-top: 30px;
    }
    .first.servise::before{
        content: "\f040";
        font: 40px FontAwesome;
        color: #10CAB7;
        position: absolute;
        left: 0px;
        top: 20px;
    }.second.servise::before{
        content: "\f0c1";
        font: 40px FontAwesome;
        color: #10CAB7;
        position: absolute;
        left: 0px;
        top: 20px;
    }.third.servise::before{
        content: "\f1de";
        font: 40px FontAwesome;
        color: #10CAB7;
        position: absolute;
        left: 0px;
        top: 20px;
    }.fourth.servise::before{
        content: "\f109";
        font: 40px FontAwesome;
        color: #10CAB7;
        position: absolute;
        left: -30px;
        top: 20px;
    }
.serviceop h1{
    color: #666;
    opacity: 0.6;
    font-family: sans-serif;
    font-size: 65px;
    transform: translate(0,70%);
}
.serviceop h2{
    position: absolute;
    top: 58%;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
}
.serviceop{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 500px;
}
.service{
    width: 100%;
}
.second{
    position: relative;
    height: 500px;
    width: 100%;
}
.second.servise{
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}
.servise h4{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.servise p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}
.container{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    text-align: center;
}
.mountain{
    display: inline;
    grid-area: mountain;
}
.servise{
    display: inline-block;
    position: relative;
    height: 200px;
}
.first.servise{
    grid-area: one;
}
.second.servise{
    grid-area: two;
}
.third.servise{
    grid-area: three;
}
.fourth.servise{
    grid-area: four;
}
.portfolio{
    background-color: #eee;
}
.porto{
    display: inline;
}
.contain div{
    background-color: #fff;
    box-shadow: #000 1px 1px 10px;
    overflow: hidden;
    transition: 1s;
    height: 100%;
}
.contain img:hover{
    scale: 1.2;
}
.porto h2{
    margin-left: 10px;
}
.porto p{
    margin-left: 10px;
}
.porto img{
    width: 100%;
    height: 100%;
}
.contain{
    display: inline;
}
.portfolio{
    padding: 15px;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.but{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent !important;
    align-content: center;
    box-shadow: none !important;
}
.more{
    background-color: transparent;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 10px;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    transition: background-color 1s;

}
.more:hover{
    color: #10CAB7;
    background-color: #304B58;
}
.portof{
    text-align: center;
}
.portof h1{
    color: #666;
    opacity: 0.6;
    font-family: sans-serif;
    font-size: 50px;
}
.hello h2{
    position: absolute;
    top: -75%;
    font-size: 15px;
}
.hello
{
    display: flex;
    justify-content: center;
    position: relative;
    height: 100px;
}
@media (max-width: 300px){
    .portfolio{
        margin-top: 700px;
    }
    .contain{
        display: block;
    }
    .fr ,.sc , .th{
        width: calc(100% /3);
    }
    .photo1 ,.photo2 ,.photo3{
        display: flex;
    }
}
@media (min-width: 301px){
    .portfolio{
        margin-top: 700px;
    }
    .contain{
        display: block;
    }
    .fr ,.sc , .th{
        width: calc(100% /3);
    }
    .photo1 ,.photo2 ,.photo3{
        display: flex;
    }
}
@media (min-width: 768px)
{
    .photo1 ,.photo2 ,.photo3{
        display: flex;
    }
    .porto{
        width: calc(100% / 3 - 150px);
        display: inline-block;
    }    
    .portfolio{
        margin-top: 0;
    }
    .contain{
        width: 100%;
    }
    .fr{
        margin: 20px 10px;
        margin-left: 10%;
    }
    .sc{
        margin: 20px 10px;
    }
    .th{
        margin: 20px 10px;
    }
    .fr ,.sc , .th{
        width: calc(100% /3 - 8%);
    }
}
a:hover{
    color: #10CAB7;
}
.about{
    padding: 15px;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.abouttxt{
    display: flex;
    width: fit-content;
    position: absolute;
}
.abou h1{
    position: absolute;
    font-size: 50px;
    color: #666;
    opacity: 0.6;
}
.contacttext h1{
    position: absolute;
    font-size: 50px;
    color: #666;
    opacity: 0.6;
}
@media (max-width: 300px){
    .abouttxt{
        transform: translate(25%,0);
        top: 35px;
        font-size: 12px;
    }
    .abou h1{
        transform: translate(56%,0);
        top: -30px;
    }
}
@media (min-width: 301px){
    .abouttxt{
        left: 44%;
        top: 40px;
        font-size: 12px;
    }
    .abou h1{
        left: 44.5%;
        top: -30px;
    }
    .aboutimg{
        margin-top: 80px;
    }
}
@media (min-width: 767px){
    .abou h2{
        position: absolute;
        left: 44%;
        top: -300px;
    }
    .abou p{
        position: absolute;
        left: 44%;
        top: -200px;
    }
    .seperate{
        position: absolute;
        left: 44%;
        top: -200px;
    }
    .aboutimg{
        margin-top: 150px;
        margin-left: 90px;
    }
}
.aboutimg{
    display: block;
}
.contenta{
    height: fit-content;
    position: relative;
}
.contenta h2{
    font-size: 14px;
    color: #1d2122;
}
.seperate{
    height: 2px;
    width: 200px;
    background-color: #10CAB7;
}
.abouttxt{
    display: flex;
    justify-content: center;
    position: relative;
    height: 100px;
    width: 300px;
}
.paragraphcontact{
    display: flex;
    justify-content: center;
    position: relative;
    height: 100px;
    width: 300px;
}
.contenta p{
    font-size: 14px;
}
.abouttxt h2 {
    position: absolute;
    top: -10%;
    left: 10px;
    font-size: 15px;
}
.paragraphcontact h2 {
    position: absolute;
    top: -10%;
    left: 10px;
    font-size: 15px;
}
.social .socialone::before{
    content: "\f17d";
    font: 20px FontAwesome;
    color: #1d2122;
}
.contact{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.social{
    float: left;
    width: fit-content;
    display: inline;
}
.social li{
    padding: 20px;
    display: inline;
}
.contact p{
    width: fit-content;
    display: inline;
    float: left;
    margin-left: 30px;
    margin-bottom: 80px;
}
.social .socialtwo::before{
    content: "\f1b4";
    font: 20px FontAwesome;
    color: #1d2122;
}
.social .socialthree::before{
    content: "\f099";
    font: 20px FontAwesome;
    color: #1d2122;
}
.contacttext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    position: relative;
}
.contacttext h1{
    position: absolute;
    font-size: 50px;
    color: #666;
    opacity: 0.6;
}
.paragraphcontact{
    margin-top: -6%;
    margin-left: -20px;
}@media (max-width: 300px){
    .contact{
        font-size: 10px;
    }
    .contact h1 {
        top: -0px;
    }.contacttext h2 {
        position: absolute;
        top: 50%;
        left: 10%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .socialone::before,.socialtwo::before,.socialthree::before{
        font-size: 15px !important;
        padding: 0px;
        margin: 0;
    }
    .contact p{
        margin: 0 !important;
    }
    footer p{
        font-size: 5px;
    }    .contact p{
        margin-bottom: 0;
    }
}
@media (min-width: 301px) and (max-width: 766px){
    .contact p{
        margin-bottom: 0;
    }
    .contacttext h1{
    left: 44%;
    font-size: 35px;
    top: -30px;
}
    .contacttext h2 {
        position: absolute;
        top: 10%;
        left: 42%;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    footer{
        font-size: 15px;
    }
}
@media (min-width: 767px){
    .contacttext h1{
        left: 44.5%;
        top: -30px;
    }
    .contacttext h2 {
        position: absolute;
        top: 25%;
        left: 44.5%;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .info h2{
    font-size: 35px;
    }
    .info h4{
        font-size: 25px;
    }
}
.contact{
    overflow: hidden;
    height: 100%;
    background-color: #eee;
}
.contacttext {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 150px;
}
.info h2{
    color: #37505E;
    margin-left: 20px;
}
.info h4{
    color: #10CAB7;
    margin-left: 20px;
}
footer{
    height: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    background-color: #304B58;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
footer span{
    color: #10CAB7;
}